html {
    font-family: "consolas", serif;
}
div {
    border: 4px;
    border-radius: 5px;
    display: flex;
}
header > div, footer > div {
    height: 50px;
    width: 1200px;
    margin: auto;
    padding: 0;
    justify-content: left;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 10px #C0C0C0;
    clip-path: inset(0 -10px 0 -10px);
    user-select: none;
    display: flex;
}
header > div > input {
    width: 430px;
    height: 30px;
}
footer > div {
    justify-content: space-evenly;
}
footer > div > h2 {
    margin: 10px 0;
}
header > div > img, footer > div > a > img {
    height: 50px;
    width: auto;
    transition: all 300ms;
}
footer > div > a > img:hover {
    transform: scale(1.025);
}
header > div > a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px;
    height: 35px;
}
header > div > a:visited {
    color: #000000;
}
header > div > a:active {
    background: #A0A0A0;
    color: #000000;
}
header > div > a:hover {
    font-weight: bold;
    text-decoration: underline;
    background: #C0C0C0;
    cursor: pointer;
}
.gradient {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(209,122,15,1) 100%);
    height: 50px;
    flex-grow: 1;
}
body {
    margin: 0;
    background: #E0E0E0 url(imgcut/tile2.png);
}
body > div {
    width: 1200px;
    margin: auto;
    display: block;
    box-shadow: 0 0 10px #A0A0A0;
    clip-path: inset(0px -10px 0px -10px);
}

.pagination {
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    height: 30px;
    width: 100%;
    background-color: #A0A0A0;
    justify-content: center;
}
.pagination > select{
    margin-right: 20px;
}
#graph{
    border-radius: 0 0 5px 5px;
    overflow: auto;
    background-color: #A0A0A0;
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#graph > div{
    border-radius: 0 0 5px 5px;
    overflow: auto;
    background-color: #A0A0A0;
    width: 1200px;
    height: 500px;
}
#graph > h2{
    width: 100%;
    text-align: center;
    color: #ab0000;
    font-size: 60px;

}