html {
    font-family: "consolas", serif;
}
div {
    border: 4px;
    border-radius: 5px;
    display: flex;
}
header > div, footer > div {
    height: 50px;
    width: 1200px;
    margin: auto;
    padding: 0;
    justify-content: left;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 10px #C0C0C0;
    clip-path: inset(0 -10px 0 -10px);
    user-select: none;
}
header > div > input {
    width: 430px;
    height: 30px;
}
footer > div {
    justify-content: space-evenly;
}
footer > div > h2 {
    margin: 10px 0;
}
header > div > img, footer > div > a > img {
    height: 50px;
    width: auto;
    transition: all 300ms;
}
footer > div > a > img:hover {
    transform: scale(1.025);
}
header > div > a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px;
    height: 35px;
}
header > div > a:visited {
    color: #000000;
}
header > div > a:active {
    background: #A0A0A0;
    color: #000000;
}
header > div > a:hover {
    font-weight: bold;
    text-decoration: underline;
    background: #C0C0C0;
    cursor: pointer;
}
.gradient {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(209,122,15,1) 100%);
    height: 50px;
    flex-grow: 1;
}


body {
    margin: 0;
    background: #E0E0E0 url(imgcut/tile2.png);
}
body > div {
    width: 1200px;
    margin: auto;
    display: block;
    box-shadow: 0 0 10px #A0A0A0;
    clip-path: inset(0px -10px 0px -10px);

    display: flex;
    flex-wrap: wrap;
}
.contentLeft {
    width: 920px;
    padding: 0px 5px;
    height: auto;
    background: darkgray;
    flex-direction: column;
}
.characteristicsRight {
    border-radius: 5px;

    width: 270px;
    height: auto;
    background: #1a1a1a;
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.characteristicsRight > section {
    flex-direction: row;
    width: 100%;
}
.characteristicsRight h2, .characteristicsRight h3 {
    font-size: 14px;
    margin: 0;
    padding: 3px 5px;
    text-align: center;
}
.characteristicsRight > h2 {
    font-size: 18px;
    font-weight: bolder;
}
.characteristicsRight > section > h2 {
    padding: 5px 0px;
    border-top: 1px solid lightblue;
}
.characteristicsRight h3 {
    font-size: 12px;
    width: 40%;
    text-align: right;
}
.characteristicsRight > section > div > div {
    font-size: 11px;
    background: #2b2b2b;
    width: 60%;
    padding: 3px 5px;
    /*no round borders for now*/
    border: 0;
    border-radius: 0;
}
.characteristicsRight > img {
    max-width: 270px;
    height: auto;
}
.contentBottom {
    width: 1200px;
    height: 900px;
    background: wheat;
}
.comments {
    width: 1200px;
    height: 300px;
    background: cornflowerblue;
}